<style>

h1, h2, h3 {
  color: #333;
  font-size: 18px;
}

h2 {
  border-bottom: 2px solid #eee;
  padding-bottom: 6px;
}

p, li {
  font-size: 16px;
}

/* Style adjustments for tables */
table {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%; /* Adjust this value to your liking */
  width: auto
}

table, th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

/* Enhancements for images */
img {
  max-width: 100%;
  height: auto;
}
</style>

/* Adjust the floating TOC width and position */
.tocify {
    max-width: 280px; /* Set a maximum width for the TOC */
    margin-right: 20px; /* Add spacing between TOC and text */
}

/* Ensure the main content doesn't overlap with the TOC */
.container {
    margin-left: 300px; /* Leave space for the TOC */
}